<div class="modal fade" id="modalDetail" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Details DATA</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <dl class="row">
                    <dt class="col-sm-4">
                        <label>Name</label>
                    </dt>
                    <dd class="col-sm-8">
                        <p id="detailName"></p>
                    </dd>
                    <dt class="col-sm-4">
                        <label>Description</label>
                    </dt>
                    <dd class="col-sm-8">
                        <p id="detailDescription"></p>
                    </dd>

                    <dt class="col-sm-4">
                        <label>Stock</label>
                    </dt>
                    <dd class="col-sm-8">
                        <p id="detailStock"></p>
                    </dd>

                    <dt class="col-sm-4">
                        <label>Price</label>
                    </dt>
                    <dd class="col-sm-8">
                        <p id="detailPrice"></p>
                    </dd>

                    <dt class="col-sm-4">
                        <label>Image</label>
                    </dt>
                    <dd class="col-sm-8">
                      <img src="" alt="img" id="detailImage"  height="200" width="200" />
                    </dd>
                </dl>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>